<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <!--<script src="js/index.js"></script>-->
  <script src="js/piechart.js"></script>
  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="requestDataDiv">
      request data
    </div>
    <div id="checkDataDiv">
      check data
    </div>

    <div id="chartContainer">
      <div class="chart" id="mailCount"></div>
      <div class="chart" id="mailAttach"></div>
      <div class="chart" id="mailAttachType"></div>
    </div>
  </body>
</html>